openai
python-dotenv
python-docx
python-pptx
wikipedia
tiktoken
neo4j
streamlit
sentence_transformers==2.2.2
Pillow
fastapi
PyPDF2
easyocr
pymupdf
pdfplumber
pandas
regex
pillow
PyTesseract
Tesseract
pytesseract
pdf2image
chromadb
pypdf
torch==2.0.1
pydantic
uvicorn
sse-starlette
boto3
# missing from the langchain base image?
langchain-openai
langchain-community
langchain-google-genai
openpyxl
extract-msg